{% from "macros.html" import plot_altair, plot_logo %}
{% extends "layout.html" %}


{% block content %}

      <div id="position"></div>
      <div id="hej"></div>


      <!-- Placeholder for the tooltip -->
      <div id="vis-tooltip" class="vg-tooltip"></div>
      <!-- Render Charts -->
      <script type="text/javascript">
      function parse(url, div) {
          var opt = { mode: "vega-lite",
              renderer: "svg",
              actions: { export: true, source: false, editor: false }
              };
          vegaEmbed("#" + div, url, opt, function (error, result) {
             vegaTooltip.vegaLite(result.view, url);
             });
            }
      //Parse your Json variable here
          
     parse({{ histogram | safe }}, "position")
     parse({{ histogram | safe }}, "hej")


      </script>

{% endblock content%}