{% extends "layout.html" %}

{% block content %}

<form  method="POST" action="">
        <select name="contig_name" id="contig_name" style="width:200px">
            <option value="" label="Välj typ " selected="selected">Choose sample to Analyze</option>
            {% for contig in contigs %}
            <option value="{{contig}}"> {{contig}} </option>
            {% endfor %}
        </select>
        <input  type="submit" value="Choose Sample" class="btn btn-primary"></input>
</form>
{% endblock content%}



